<footer class="footer">
  <div class="container footer-container">
    <ul class="footer-box">
      <li class="footer-box-first">
        <ul class="footer-logo-list list">
          <li class="footer-logo">
            <picture>
              <source
                media="(min-width: 1158px)"
                srcset="
                  ./img/footer/img-desktop.jpg    1x,
                  ./img/footer/img-desktop@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./img/footer/img-tablet.jpg    1x,
                  ./img/footer/img-tablet@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./img/footer/img-mobile.jpg    1x,
                  ./img/footer/img-mobile@2x.jpg 2x
                "
              />
              <img
                class="footer-logo-img"
                src="./images/footer/img-desktop.jpg"
                alt="Smiling girl with bananas"
                width="349"
                height="179"
              />
            </picture>
          </li>
          <li class="footer-logo">
            <a class="footer-logo-link link" href="./index.html">
              <svg class="footer-logo-icon" width="16" height="16">
                <use href="../img/icon.svg#logo-header"></use>
              </svg>
              <span class="footer-logo-text"> fresh harvest box</span>
            </a>
          </li>
        </ul>
        <nav class="footer-nav-menu">
          <ul class="footer-menu-list list">
            <li class="footer-menu-item">
              <a class="footer-menu-link link" href="">How It Works</a>
            </li>
            <li class="footer-menu-item">
              <a class="footer-menu-link link" href="">Fruits</a>
            </li>
            <li class="footer-menu-item">
              <a class="footer-menu-link link" href="">Contacts</a>
            </li>
          </ul>
        </nav>
      </li>
      <li class="footer-box-second">
        <div class="footer-social-media">
          <ul class="footer-social-media-list list">
            <li class="footer-social-media-item">
              <a
                class="footer-social-media-link link"
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener norefferrer"
              >
                <svg class="footer-social-media-icon">
                  <use href="./img/icon.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-media-item">
              <a
                class="footer-social-media-link link"
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener norefferrer"
              >
                <svg class="footer-social-media-icon">
                  <use href="./img/icon.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-media-item">
              <a
                class="footer-social-media-link link"
                href="https://www.youtube.com/"
                target="_blank"
                rel="noopener norefferrer"
              >
                <svg class="footer-social-media-icon">
                  <use href="./img/icon.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <address class="footer-contacts">
          <ul class="footer-contacts-list list">
            <li class="footer-contacts-item">
              <a
                class="footer-contacts-phone-link link"
                href="tel:+380684439426"
              >
                +380 (68) 443-94-26
              </a>
            </li>
            <li class="footer-contacts-item">
              <a
                class="footer-contacts-map-link link"
                href="https://goo.gl/maps/BzKwkpX44fDVytxx9"
                target="_blank"
                rel="noopener norefferrer"
              >
                1678 S. Pioneer Road Salt Lake City UT 84104
              </a>
            </li>
          </ul>
        </address>
      </li>
    </ul>
  </div>
</footer>
