<!-- Hero-2 -->

<div class="container-box-wrapper">
  <div class="container-box">
    <p class="hero-text">
      Our expertly curated fruit baskets are made with the freshest, highest
      quality fruits available. Whether you are looking for a healthy snack or a
      gift for a loved one, Fresh Harvest Box has got you covered.
    </p>
    <div class="fruit-item box-green">
      <h2 class="fruit-title">Fruit</h2>
      <img
        class="fruit-hero-img"
        srcset="./img/hero-2/watermelon_1x.png, ./img/hero-2/watermelon_2x.png"
        src="./img/hero-2/watermelon_1x.png"
        alt="Watermelon"
        width="200"
        height="172"
      />
      <p class="fruit-text">
        Refreshing and juicy, watermelon is the perfect summer treat and a great
        source of hydration
      </p>
    </div>
  </div>

  <div class="container-box-right">
    <ul class="hashtags-list">
      <li class="hashtags-item">
        <h3 class="hashtag-title">&#35;organic</h3>
      </li>
      <li class="hashtags-item">
        <h3 class="hashtag-title">&#35;products</h3>
      </li>
      <li class="hashtags-item">
        <h3 class="hashtag-title">&#35;basket</h3>
      </li>
      <li class="hashtags-item">
        <h3 class="hashtag-title">&#35;fruits</h3>
      </li>
    </ul>

    <div class="fruit-item box-yelow">
      <h2 class="fruit-title">Fruit</h2>
      <img
        class="fruit-hero-img"
        srcset="
          ./img/hero-2/strawberry-basket_1x.png,
          ./img/hero-2/strawberry-basket_2x.png
        "
        src="./img/hero-2/strawberry-basket_1x.png"
        alt="Strawberry basket"
        width="230"
        height="186"
      />
      <p class="fruit-text">
        Sweet and juicy, strawberries are packed with vitamin C and
        antioxidants, making them a delicious and healthy snack
      </p>
    </div>
  </div>
</div>
