<!-- Hero-1 -->
<h1 class="hero-title">
  fresh harvest box <br />
  is your one-stop place for a delicious fruit basket
</h1>
<div class="image-wrapper">
  <picture>
    <!-- Tablet + Desktop screen -->
    <source
      media="(min-width: 768px)"
      srcset="
        ../img/hero-1/woman@tab1x.png 1x,
        ../img/hero-1/woman@tab2x.png 2x
      "
      type="image/png"
    />
    <!-- Phone screen -->
    <source
      media="(max-width: 767px)"
      srcset="../img/hero-1/woman.png 1x, ../img/hero-1/woman@mob2x.png 2x"
      type="image/png"
    />
    <img src="../img/hero-1/woman.png" alt="smiling girl" class="hero-woman" />
  </picture>
  <button type="button" class="hero-btn">shop now</button>
</div>
