<div class="modal_window window modal-thank-you backdrop js-overlay-modal">
  <div class="modal_window_content modal-thank-you" data-modal="2">
    <button class="modal_close-btn close-btn js-modal-close" type="button">
      <svg class="modal_close-icon" width="28" height="28">
        <use class="" href="./img/icon.svg#icon-clos"></use>
      </svg>
    </button>

    <picture class="modal_image">
      <sourse
        srcset="
        ./img/thank-you-pop-up/STRAWBERRY.png    1x,
        ./img/thank-you-pop-up/STRAWBERRY@2x.png 2x
      "
        media="(min-width:1280px)"
        sizes="(width: 278px) 278px, 100vw"
      />

      <sourse
        srcset="
      ./img/thank-you-pop-up/STRAWBERRY.png    1x,
      ./img/thank-you-pop-up/STRAWBERRY@2x.png 2x
      "
        media="(min-width:768px)"
        sizes="(width: 278px) 278px, 100vw"
      />

      <sourse
        srcset="
      ./img/thank-you-pop-up/STRAWBERRY.mob.png    1x,
      ./img/thank-you-pop-up/STRAWBERRY.mob@2x.png 2x
      "
        media="(min-width:375px)"
        sizes="(width: 207px) 207px, 100vw"
      />
      <img src="./img/thank-you-pop-up/strawberry.png" alt="Strawberry" />
    </picture>

    <div class="modal_text">
      <h2 class="modal_title">THANK YOU</h2>
      <p class="modal_subtitle">
        Thank you for your order! Our team is preparing your box with fresh,
        delicious fruits and vegetables, and we'll deliver it straight to your
        doorstep. We appreciate your business and look forward to providing you
        with the best possible experience!
      </p>
    </div>
  </div>
</div>
