.footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer-logo-img {
  margin-bottom: 20px;
}

.footer-logo-link {
  display: flex;
  justify-content: center;
}

.footer-logo-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-left: 8px;
}

.footer-menu-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 24px;
}

.footer-menu-link {
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  color: var(--secondary-text-color);
}

.footer-social-media-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 44px;
  margin-bottom: 44px;
}

.footer-social-media-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 40px;
  height: 40px;
  border: 1px solid var(--secondary-text-color);
  border-radius: 10px;
}

.footer-social-media-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-icon:hover,
.footer-social-media-icon:focus {
  background-color: var(--secondary-text-color);
  opacity: 10%;
}

.footer-contacts-item {
  display: flex;
  justify-content: center;
}

.footer-contacts-phone-link {
  font-style: normal;
  font-weight: 400;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.footer-contacts-map-link {
  font-style: normal;
  font-weight: 400;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  color: var(--secondary-text-color);
  max-width: 140px;
  text-align: center;
}

<<<<<<< Updated upstream
@media only screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    padding: 0 32px;
  }

  .footer-box {
    display: flex;
    flex-direction: row;
    gap: 210px;
  }

  .footer-logo-link {
    display: block;
    margin-left: 97px;
  }

  .footer-menu-list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 80px;
    margin-left: 71px;
  }

  .footer-social-media-icon {
    width: 44px;
    height: 44px;
  }

  .footer-contacts-item {
    justify-content: flex-start;
  }

  .footer-contacts-phone-link {
    font-size: 18px;
    line-height: calc(24 / 18);
  }

  .footer-contacts-map-link {
    font-size: 18px;
    line-height: calc(24 / 18);
    max-width: 180px;
    text-align: left;
  }
}
=======
>>>>>>> Stashed changes
