:root {
  --basic-tx-color: #ffffff;
  --basic-bg-color: #ae1332;
}
.steps {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  background-color: var(--basic-bg-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .steps {
    max-width: 768px;
    padding: 0 32px;
    margin-bottom: 144px;
  }
}
@media only screen and (min-width: 1280px) {
  .steps {
    max-width: 1280px;
    padding: 0 33px 0 32px;
    margin-bottom: 150px;
  }
}
.steps-header {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  color: var(--basic-tx-color);
  margin-bottom: 14px;
  font-weight: normal;
  text-shadow: 0px 4px 70px 0px #0000001a;
}
@media only screen and (min-width: 768px) {
  .steps-header {
    width: 624px;
    font-size: 40px;
    line-height: 44px;
    margin-left: auto;
    margin-right: auto;
  }
}

.steps-text {
  color: var(--basic-tx-color);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.056px;
  margin-bottom: 44px;
  text-shadow: 0px 4px 70px 0px #0000001a;
}
@media only screen and (min-width: 768px) {
  .steps-text {
    width: 509px;
    margin-left: auto;
    margin-right: auto;
  }
}
.steps-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 20px;
  margin-bottom: 44px;
}
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .steps-list {
    margin-left: auto;
    margin-right: auto;
    gap: 24px;
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .steps-list {
    flex-direction: row;
  }
}
.steps-item {
  margin-left: auto;
  margin-right: auto;
}

.steps-card-container {
  display: flex;
  height: 112px;
  background-color: var(--basic-tx-color);
  border-radius: 20px;
  text-align: center;
  align-items: center;
  padding: 20px;
  gap: 14px;
}
@media only screen and (min-width: 768px) {
  .steps-card-container {
    width: 389px;
    height: 128px;
    padding: 40px 20px;
  }
}

.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 48px;
  border-radius: 200px;
  color: var(--basic-tx-color);
  font-size: 18px;
}
.steps-first-container {
  background-color: #ae1332;
}
.steps-second-container {
  background-color: #a1c864;
}
.steps-third-container {
  background-color: #f5ce13;
}
.steps-card-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.056px;
  width: 145px;
  text-align: left;
  text-shadow: 0px 4px 70px 0px #0000001a;
}
@media only screen and (min-width: 768px) {
  .steps-card-text {
    width: 199px;
  }
}
.steps-image-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  height: 476px;
}
@media only screen and (min-width: 768px) {
  .steps-image-container {
    width: 704px;
  }
}
@media only screen and (min-width: 1280px) {
  .steps-image-container {
    width: 860px;
  }
}
.steps-image {
  border-radius: 20px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
